# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [4]:
numberfloat = 2.3
print(numberfloat)
numberfloat = 7.2
print(numberfloat)

2.3
7.2

Performing Calculations on ints and floats

##### Addition

In [27]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result + 2)

9.4

##### Subtraction

In [31]:
reslut_diff = num2 - num1
print(reslut_diff)
reslut_diff -= 1
print(reslut_diff -1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [36]:
reslut_mul = num1 * num2
print(reslut_mul)

reslut_mul *= 2
print(reslut_mul)

10.8
21.6

##### Division

In [38]:
reslut_div = num1/num2
print(reslut_div)

reslut_div /= 3
print(reslut_div)

0.37037037037037035
0.12345679012345678

##### Floor Division

In [40]:
reslut_floor = num2 // num1
print(reslut_floor)

reslut_floor //=2
print(reslut_floor)

2.0
1.0

##### Modulo

In [42]:
reslut_mod = num2%num1
print(reslut_mod)

reslut_mod%=2
print(reslut_mod)

1.4000000000000004

##### Exponential

In [44]:
square=2**2
print(square)
square**=2
print(square)

4
16

### String Input-Output

##### String Assignment

In [ ]:
name="nikki"
print(name)

##### print() <br>
<p>Don't forget about end=' '</p>

In [51]:
print("this is my first name", name)
print("full name:", name, end=" Webb")

this is my first name nikki
full name: nikki Webb

##### String Concatenation

In [67]:
first_name="Nikki"
last_name="Webb"
print(last_name)
print(first_name)
full_name = first_name + " " +  last_name
print(full_name)

full_name +=  ", Jr"
print(full_name)

Webb
Nikki
Nikki Webb
Nikki Webb, Jr

##### Type Conversion

In [63]:
number="32"

change_type_num=int(number)
print(number)
print(change_type_num )

32
33

##### input()

In [68]:
#input willl always retur a string
name=input("whats your name ")
print(name)
print("nice to meet you ," + name)

age=int(input("whats your age?:"))
add_age=age + 5
print(add_age)

whats your name nikki
nikki
nice to meet you ,nikki
whats your age?:33
38

##### format()

In [71]:
age=input("what is your age? ")
reslut_string="you are geting wiser"
print(reslut_string)

reslut_again= f"{age} is a great time in life"
print(reslut_again)

what is your age? 33
you are geting wiser
33 is a grea time in life

##### Old Way (python 2)

In [72]:
reslut_string2= "you look great for your age"
print(reslut_string2)

you look great fr your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [103]:
car_color=input("what color is your car?")
print(car_color)

car_year=input("what year is your car?")
print(car_year)

car_make=input("what is the make of your car?")
print(car_make)

car_model=input("what is the model of your car?")
print(car_model)
car_info= (" Your car's color is " + car_color + " ,the year is "  + car_year + " ,its make is " + car_make
  + ", the model is " + car_model)
print(car_info)

what color is your car?Blue
Blue
what year is your car?2018
2018
what is the make of your car?Chevy
Chevy
what is the model of your car?Silverado
Silverado
 Your car's color is Blue ,the year is 2018 ,its make is Chevy, the model is Silverado

### If Statements

In [124]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F


num1 =5
num2 =10
num3 = 0
# if num1 == num2:
#     print('equal values')
# else:
#     print('not equal')
    
    
if num2 > num1 and num3 > 0:
    print('num2 is greater')
elif num1 > num2:
        print('num1 is greater')
else:
        print('equal values')
        
if num2 > num1 or num3 > 0:
        print('num2 is greater')
elif num1 > num2:
        print('num1 is greater')
else:
        print('equal values')

equal values
num2 is greater

##### 'is' keyword

In [127]:
#the is key word is for checking for the same object, but not the same value

num3 = 55


if num3 is 55:
    print("This is the exact number or object")

This is the exact number or object

<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\nikki\AppData\Local\Temp\ipykernel_27056\4216274344.py:6: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [132]:
# check if a character is in a string

char_name = "Frodo Baggins"
if "Frodo" in char_name:
    print("The ring bearer")
    
    char_name = "Frodo Baggins"
if "Samwise" in char_name:
    print("The ring bearer")
else:
     print("not the ring bearer")

The ring bearer
not the ring bearer

##### 'not in' keyword'

In [135]:
sega_char = "Sonic"
if 'a' not in sega_char:
    print('a is not here')

a is not here

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [141]:
name = input('what is you full name? ')
if 'p' in name:
    print('the is a p in the name')
else:
    print('no p in name')

what is you full name? Ashley Nicole Webb
no p in name

## Using 'and'/'or' with If Statements

In [180]:
num11=15
num12=3
num13=10
num14=3
if num11 / 5 == num12 and num13 - 7 == num14:
    print('false and true')

false and true

### Elif Statements

In [ ]:
first_name=input('whats your first name?')

if first name =='smith':
    print( )

### Else Statements

In [ ]:
# see above

### For Loops

In [2]:
# syntax
# for counter in condito
name = "nikki webb"

for letter in name:
    print(letter)

n
i
k
k
i

w
e
b
b

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [15]:
for i in range (20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [8]:
# will break out of current loop

In [17]:
for i in range (20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [18]:
for i in name:
    pass

Double for loops

In [20]:
for i in range (5):
    for j in range (5):
        print('i =', i, 'j =', j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [21]:
# syntax:
# while keyword, condition statement

num = 0 
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [26]:
game_over = False

while game_over:
    print('Infinite Loop')
    user_input = input('Would you like to stop?')
    if usert_input == 'Yes':
        game_over = False

##### While & For Loops Used Together

In [28]:
 num = 0 
    
while num < 5:
    print('\n While loop iteration:' + str(num))
    
    for i in range(2):
        print('For Loop iteration', str(i + 1))
        
        num += 1

 While loop iteration:0
For Loop iteration 1
For Loop iteration 2

 While loop iteration:2
For Loop iteration 1
For Loop iteration 2

 While loop iteration:4
For Loop iteration 1
For Loop iteration 2

### Built-In Functions

##### range()

In [34]:
# range(start, stop,step)

for i in range(2, 20, 1):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [35]:
name = input("what is the name of your favorite book?: ")

length = len(name)
print(length)

what is the name of your favorite book?: Harry Potter and the goblet of fire
35

##### help()

In [36]:
#use this function to view more info about a python function
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [43]:
# check a variable to find ut what object or data family it is
#isinstance(var, type)

num = input("pick a number")
if isinstance(num, int):
    print(f" {num} is an int)
els:
          print(f" {num} is a float)

SyntaxError: unterminated string literal (detected at line 6) (589484501.py, line 6)

##### abs()

In [44]:
# /-5/ = 5

print(abs(-5))

5

### Try and Except

In [47]:
# use this to log out graceful and usefule erroe messages
# does not stop the program

try:
    input_num = int(input('guess a number'))
    print('your number is: ' + str(input_num))
except:
    print("theat didnt work! change your input to a number")

guess a number4
your number is: 4

### Lists

##### Declaring Lists

In [86]:
list_1 = []
names = ['max', 'cindy', 'kathy', 'bob', 'nate', ]
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [70]:
# list_name[start: stop : step]
#single intex

print(names[0])

#print starting at index 1 goig to the end

print(names[1:])

# print startig at the beginning of a list until a number

print(names[:2])

#print starting at index 1 and ging up by 2 in each iteration

print(names[1::2])

# print starting at the back and show in reverse order

print(names[::-1])

max
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [89]:
names.append('Brandon')
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate', 'Brandon', 'Brandon', 'Brandon']

##### .insert()

In [90]:
names.insert(3,'devon')
print(names)

['max', 'cindy', 'kathy', 'devon', 'bob', 'nate', 'Brandon', 'Brandon', 'Brandon']

##### .pop()

In [92]:
# defults to last value if no parmeter is giving
# pop returns the element that was removved in case you want to assign it to a veriable

my_name = names.pop(2)
print(my_name)
print(names)

kathy
['max', 'cindy', 'devon', 'bob', 'nate', 'Brandon', 'Brandon', 'Brandon']


##### .remove()

In [96]:
# value to be removed rather then index

while 'brandon' in names:
    names.remove('brandon')
print(names)

['max', 'cindy', 'devon', 'bob', 'nate', 'Brandon', 'Brandon', 'Brandon']

##### del()

In [98]:
# goes by inindex, rater then value
# be carful with del, it cn cause indexing errors if not used carefully

del(names[1])
print(names)

['max', 'bob', 'nate', 'Brandon', 'Brandon', 'Brandon']

##### Concatenating Two Lists

In [105]:
# Will append two lists together, will not ass to the values!!

list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [110]:
# List can hold any other element! including other lists!
# they can go as deep as you want: this is called nesting lists

names = ["Max", "Sam", "Josh", ["Sally", ["Sue", "Jim"], "tameka"]]
print(names)
print(names[3][1][1])

['Max', 'Sam', 'Josh', ['Sally', ['Sue', 'Jim'], 'tameka']]
Jim

##### Looping Through Lists

In [114]:
# two ways to loop throught liss! one is by index the other is by using the 'in' keywork

#by index

for i in range(len(names)):
    print(names[i])
    
    
    # loop with 'in'
for i in names:
    print(i)

Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'tameka']
Max
Sam
Josh
['Sally', ['Sue', 'Jim'], 'tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
for C in range(1, 1000):
    cube = C ** 3
    if cube > 1000:
        break
    print(cube)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:

def primes_upto(limit):
    prime = [True] * limit
    for n in range(2, limit):
        if prime[n]:
            yield n  
            for c in range(n*n, limit, n):
                prime[c] = False  

primes = list(primes_upto(100))
print(primes)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:
age = int(input("Enter your age: "))

if age < 18:
    print("kids")
elif age >= 18 and age <= 65:
    print("adults")
else:
    print("seniors")

Enter your age: 33
adults